@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background: #f2f2f2;
}

header {
  background-color: #004aad;
  padding: 20px;
  text-align: center;
  color: white;
}

nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
  font-weight: 600;
}

nav a:hover {
  text-decoration: underline;
}

section {
  background: white;
  margin: 20px auto;
  padding: 30px;
  width: 80%;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 0 8px #ccc;
}

img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  box-shadow: 0 0 8px #666;
}

table {
  width: 60%;
  margin: auto;
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid #004aad;
  padding: 10px;
}

th {
  background: #004aad;
  color: white;
}

.project-box {
  border: 1px solid #ccc;
  padding: 15px;
  margin: 10px auto;
  width: 60%;
  border-radius: 6px;
}

.project-box h5 {
  margin-bottom: 10px;
}

.project-box:hover {
  box-shadow: 0 0 10px #aaa;
}

form {
  margin: 10px auto;
}

input,
textarea {
  width: 80%;
  padding: 8px;
}

button {
  background: #004aad;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background: #00337a;
}

#backtotop {
  font-size: 12px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #004aad;
  color: white;
  padding: 10px;
  border-radius: 6px;
  text-decoration: none;
}

footer {
  color: #004aad;
  text-align: center;

  width: 80%;
  margin: auto;
}
